<!DOCTYPE html>
<html xmlns:style="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <script src="lib/jQuery/dist/jquery.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="app/app.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js" type="text/javascript"></script>
    <script src="http://cdn.sockjs.org/sockjs-0.3.4.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>


    <!--<script src="lib/angular-websocket/angular-websocket.js"></script>-->
</head>

<body ng-app="myApp" style="margin: 0px;">
<table>
<tr>
    <td>
        <div ng-controller="myCtrl" ng-init="drawBoard()">
            <canvas id="canvas" width="621" height="621" ng-click="doClick($event)">
            </canvas>
        </div>
    </td>
    <td>
        <label style="font-size: large">Please choose player</label>
        <div id="left" ng-controller="btnController" style="left: 515px;">
            <br/>
            <br/>
            <input type="button" value="PLAYER1" ng-click="ButtonClick('P1')" id="P1"/>
            <br>
            <input type="button" value="PLAYER2" ng-click="ButtonClick('P2')" id="P2"/>
            <br>
            <input type="button" value="FINISH THE GAME" ng-click="ButtonClick('Finish')" id="Finish"/>
            <br>
            <br>
            <input type="button" value="PLAY NEW GAME" ng-click="ButtonClick('New game')" id="newGame"/>
            <br>
            <br/>
            <br/>
            <span ng-bind="Message"></span>
            <br/>
            <br/>
            <span ng-bind="Color"></span>
            <br/>
            <br/>
            <label>SCORE</label>
            <label>PLAYER 1 : PLAYER 2</label>
            <br/>
            <br/>
            <span id="score"></span>
        </div>
    </td>
<tr>
</table>
</body>


</html>
